---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">HENERAL LUMA</h3>
		<p class="editable">Established in 2019, a homegrown Filipino brand celebrated for its exquisite, handcrafted leather pieces, defined by its dedication to artisanal craftsmanship and classic leatherwork. Every piece—from wallets and card holders to belts and totes—is carefully hand-cut and stitched using premium leather sourced from trusted local tanneries.</p>
	</div>
	 
</div>
